.navbar {
    /* flex box */
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    /* sizing */
    width: 100vw;
    height: 64px;
    padding: 8px;
  
    /* styling */
    background-color: #ffffff;
    border-bottom: 10px solid darkblue;
    text-align: center;
    font-size: 70px;
    font-family: 'Bangers', cursive;
  }
  
.img-logo {
    min-width: 48px;
    height: 48px;
    margin-right: 8px;
  
    background: #C4C4C4;
    border-radius: 5px;
  }
  
.search-position-fix {
    width: 48px;
    height: 48px;
  }
  
.form-search {
    max-width: 960px;
    width: 100vw;
  
  }
  
.form-group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    margin-top: 200px
  }
  
.form-control {
    width: 100%;
    height: 50px;
    font-size: 40px;
    background-color: #FAFAFA;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    margin-right: 8px;
    padding-left: 16px;
    font-size: 16px;
  }
  
.form-button {
    margin-top: 25px;
    min-width: 300px;
    min-height: 80px;
    background-color: #478BEB;
    border-radius: 5px;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
}
:placeholder-shown{
    text-align: center;
}
body{
    background-color: lightskyblue;
    font-family: 'Rubik', sans-serif;
}
a,.button{
    margin-top: 35px;
    background-color: #478BEB;
    border-radius: 5px;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding:5px;
    font-family: 'Rubik', sans-serif;
}
div{
    font-family: 'Rubik', sans-serif;
}
.win{
    background-color: lightgreen;
    padding: 10px
}
.loss{
    background-color: lightcoral;
    padding: 10px
}