<ul>
  {{#each games}}
      {{> summoners/summoner-block}}
  {{/each}}
</ul>

<form class="create-form">

  <div class="form-group">
    <label for="updateName">Summoner Name:</label>
    <input type="text" id="updateName">
  </div>

  <button type="submit" class="update">Add summoner</button>
</form>


